.container {
  position: absolute;
  padding-top: 4;
}

.button {
  border-radius: 100%;
  padding: 0;
  height: 12;
  width: 12;
  border: 1px solid rgba(0, 0, 0, 0.06);
  margin-right: 8;
}

.buttonClose {
  background-color: #ff6159;
}

.buttonClose:hover {
  background-color: #bf4942;
}

.buttonMinimize {
  background-color: #ffbd2e;
}

.buttonMinimize:hover {
  background-color: #bf8e22;
}

.buttonMaximize {
  background-color: #28c941;
}

.buttonMaximize:hover {
  background-color: #1d9730;
}
